.field_with_errors {
  margin: 0;
  padding: 0;
}

.form-errors {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ccc;
  padding: 20px;
}

table#pet-info td.label {
  width: 300px;
  background: #ccc;
}

table#pet-info {
  a,
  strong {
    margin: 0px;
  }
}

#pet-adoption-form {
  border-bottom: 1px dashed #000;
  border-top: 1px dashed #000;
  padding: 10px 0;
  margin: 10px 0;
}

#pet-adoption-form h3 {
  margin: 0px;
}